{% extends 'news/base.html' %}
{% load static %}
{% block title %}Foydalanuvchi parolini o'zgartirish{% endblock title %}

{% block content %}
    <style>
        .change-password-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 100%;
            margin: 50px auto;
            text-align: center;
        }

        .change-password-container h1 {
            color: #333;
            margin-bottom: 20px;
            font-size: 24px;
        }

        .change-password-container p {
            color: #666;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .change-password-container form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .change-password-container form p {
            width: 100%;
        }

        .change-password-container form input[type="password"],
        .change-password-container form input[type="text"],
        .change-password-container form input[type="email"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
            color: #333;
            box-sizing: border-box;
        }

        .change-password-container form button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .change-password-container form button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="change-password-container">
        <h1>Parolni o'zgartirish</h1>
        <p>Profilingizni o'zgartirish uchun, quyidagi formani to'ldiring</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Parolni almashtirish</button></p>
        </form>
    </div>
{% endblock content %}
