{% extends 'news/base.html' %}
{% load static %}
{% block title %} Admin sahifasi {% endblock title %}

{% block content %}

    /* Styles for the entire content block */
.content {
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Styles for the page title */
.content h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Styles for the subheading */
.content h3 {
    text-align: center;
    color: #666;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Styles for the table */
.content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Styles for the table headers */
.content th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Styles for the table data cells */
.content td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Add a hover effect for table rows */
.content tr:hover {
    background-color: #f1f1f1;
}

/* Style for alternating row colors */
.content tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


</style>



<div class="content">
    <h1>Admin sahifasi</h1>
    <h3>Barcha adminlar</h3>
    <table>
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for user in admin_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %}
    </table>
    <button class="button-33" style="margin-left: 35%" onclick="window.location.href='{% url 'news_create' %}'">Yangilik qo'shish</button>
</div>
{% endblock %}
